.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: var(--accents-brown, #ac7f5e);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1024px;
  position: relative;
}
.budt-748 {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
  width: 205px;
  height: 63px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 314px;
  position: absolute;
  right: -37px;
  top: 22px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: -105px;
  top: 0px;
  width: 153px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 0px;
  width: 70px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 0px;
  width: 55px;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 845px;
  height: 95px;
  position: relative;
}
.contact-us {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 76px;
  top: 149px;
  width: 1269px;
}
.subtitle {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 247px;
  width: 1210px;
  height: 265px;
}
.professor-and-ta-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 81px;
  top: 350px;
}
